
.big-card {
    position: relative;
    width: 350px;
    height: 170px;
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    transition: box-shadow 0.3s;
    background-color: var(--second-layer);
    border-radius: 3px;
}

.big-card:hover {
    box-shadow: rgba(15, 15, 15) 0 0 10px 5px;
}

.big-card-image {
    object-fit: cover;
    width: 120px;
    height: 170px;
    border-radius: 3px 0 0 3px;
    transition: opacity 0.3s;
}

.big-card:hover .big-card-image {
    opacity: 60%;
}

.big-card-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px 10px 10px 15px;
    transition: filter;
}

.big-card:hover .big-card-info {
    filter: brightness(1.2);
}

.big-card-title {
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: color 0.3s;
}

.big-card:hover .big-card-title {
    color: var(--anime-color);
}

.big-card-subtitle {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: grey;
    opacity: 70%;
}

.big-card-subtitle-details {
    margin: 0;
    font-size: 0.7rem;
}

.big-card-badges {
    font-size: 0.7rem;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    width: fit-content;
    font-weight: bold;
}

.big-card-airing {
    background-color: var(--airing-color);
    color: black;
}

.big-card-upcoming {
    background-color: var(--upcoming-color);
    color: black;
}

.big-card-relation {
    color: black;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--site-color);
}