
.h-heading {
    color: var(--text-color);
    margin: 0 40px 0 40px;
    padding: 0 10px 5px 10px;
    font-size: 1.3rem;
    background-color: var(--first-layer);
    background-color: black;
    border-bottom: 1px solid rgb(245, 245, 245, 0.2);
}

hr {
    width: 1481.2px;
    border: none;
    height: 1px;
    color: #333;  /* old IE */
    background-color: #333; 
}

.h-carousel {
    display: flex;
    background-color: var(--first-layer);
    background-color: black;
    margin: 10px 10px 40px 10px;
    border-radius: 3px;
}

.h-scrollable {
    /* width: 91%; */
    /* height: 300px; */
    overflow: hidden;
    display: flex;
    gap: 17px;
}

.h-card-wrapper {
    padding: 10px 0 10px 0;
}

.h-button svg {
    fill: white;
}

.h-button {
    width: 30px;
    display: flex;
    place-items: center;
    opacity: 30%;
    cursor: pointer;
}

.h-button:hover {
    opacity: 100%;
}
